
@value dark, light from "../../styles/colors.css";

* {
  box-sizing: border-box;
}

html,
body {
  font: 14px/1.5 Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  line-height: 1.4em;
  letter-spacing: -0.15px;
  font-weight: 400;
  color: light;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: black;
}

.normal {
  background: white;
}

.content {
  background: white;
  min-height: 100vh;
}

.notifications {
  position: fixed;
  bottom: 30px;
  left: 30px;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  pointer-events: none;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
